body{
	padding: 0;
	margin: 0;
	position: relative;
}

header{
	width: 100%;
	background-color: #233857;
	padding-top: 25px;
	padding-bottom: 30px;
}

nav{
	height: 50px;
	width: 80%;
	margin: 0 auto;
}

#logo{
	float: left;
	width: 100px;
	height: 50px;
	background-color: #619CF2;
}

#logo h3{
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	line-height: 50px;
	font-size: 20px;
	display: block;
	text-align: center;
	color: #233857;
	margin: 0;
}

nav a{
	font-family: Century Gothic, sans-serif;
	float: left;
	color: white;
	cursor: pointer;
	line-height: 50px;
	display: block;
	text-align: center;
	margin: 0 15px;
	width: 80px;
}

nav a:last-child{
	float: right;
}

#description{
	width: 80%;
	margin: 0 auto;
	margin-top: 60px;
}

#description h1{
	font-family: Century Gothic, sans-serif;
	color: white;
	font-size: 32px;
	width: 45%;
}

#description h4{
	font-family: Century Gothic, sans-serif;
	color: #767676;
	width: 55%;
}

#cta{
	background-color: #619CF2;
	width: 150px;
	height: 40px;
	cursor: pointer;
}

#cta p{
	font-family: Century Gothic, sans-serif;
	color: white;
	line-height: 40px;
	display: block;
	text-align: center;
	color: #233857;
	
}

#fp{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 35px;

}

#fp h2{
	font-family: Century Gothic, sans-serif;
}

#fp h3{
	font-family: Century Gothic, sans-serif;
	color: #353535;
}

#fp p{
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	color: #767676;
}

#fpDesc{
	font-weight: normal !important;
	width: 40%;
	float: left;
	font-family: Century Gothic, sans-serif;
}

#fpImg{
	width: 50%;
	height: 300px;
	background-color: #233857;
	float: right;
	margin-right: 30px;
}

.feedback{
	width: 100%;
	background-color: #619CF2;
}

#feedback{
	width: 80%;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
}

#feedback div{
	width: 70px;
	height: 70px;
	border-radius: 50px;
	background-color: #233857;
	float: left;
	margin-right: 10px;
}

#feedback p:first-child{
	font-family: Century Gothic, sans-serif;
	font-size: 30px;
	color: #233857;
	margin: 20px 0;
}

#thefb {
	font-family: Century Gothic, sans-serif;
}



#feedback h4{
	margin-top: 30px;
	margin-bottom: 0;
	font-family: Century Gothic, sans-serif;
}

#feedback h5{
	margin: 0;
	float: left;
	font-family: Century Gothic, sans-serif;
}

.mywork{
	width: 80%;
	margin: 0 auto;
}

.mywork h2{
	font-family: Century Gothic, sans-serif;
}

#projects{
	overflow: hidden;
}

#projects section{
	float: left;
	width: 30%;
	margin: 0 10px;
}

#projects section div{
	width: 100%;
	height: 200px;
	background-color: #233857;
}

#project-title{
	font-family: Century Gothic, sans-serif;
}

#project-p{
	font-family: Century Gothic, sans-serif;
}

footer{
	width: 100%;
	background-color: #98CAF27;
}

#contact{
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
	padding-bottom: 50px;
}

#contact{
	font-family: Century Gothic, sans-serif;
}

input{
	border-width: 0;
	float: left;
	width: 35%;
	height: 45px;
	margin-bottom: 16px;
	padding: 0 10px;
	font-family: Century Gothic, sans-serif;
}

textarea{
	font-family: Century Gothic, sans-serif;
	float:left;
	width: 55%;
	height: 228px;
	margin-top: 19px;
	margin-right: 15px;
}

input[type=submit]{
	background-color: #353535;
	color: white;
	float: left;
}

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
